@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bebebe;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  background-color: #fff;
  width: 600px;
  height: 700px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem 7rem;
}
